
.banner{
	height: 90vh;
	margin-left: auto;

}
.inner-banner{
	border: solid 2px;
	border-color: #006D77;
}

.title {
	margin-top: 75px;
	margin-bottom: 125px;
	text-align: center;
}
.landing-btn {
	border-radius: 0;
	background-color: #006D77;
}